@{
    Layout = Html.GetCurrentThemeLayoutAddress(true);
    ViewBag.Title = T("ConfirmAccount");
    Html.AddHeadCustomParts("<meta name=\"robots\" content=\"noindex, nofollow\">");
}

<div class="log-reg-bg d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-9 col-lg-7 col-xl-6">
                <div class="login-reg-box mar-v-80">
                    <div class="text-center pad-v-30">
                        <i class="fas fa-mail-bulk" style="font-size: 150px;color: #7ad600;"></i>
                    </div>
                    <h4 class="text-center">@T("ConfirmEmail")</h4>
                    <p class="fs-14">
                        @Html.Raw(T("ConfirmAccountDesc"))
                    </p>
                    <div class="text-center">
                        <a class="signin-btn d-block" href="@Url.Action("Index", "Home")">@T("ReturnHome")</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

