
@{
    ViewBag.Title = T("ManageRedirects");
}

<div class="panel no-hide-overflow">
    <div class="panel-title pad-10">
        <h5 class="no-mar">
            @T("ManageRedirects")
        </h5>
    </div>

    <div class="pad-10">
        @{
            Html.RenderAction("Grid");
        }
    </div>
</div>
