@using System.Web.Mvc.Html
@using Devesprit.DigiCommerce.Models
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.Utilities
@using X.PagedList.Mvc
@model Devesprit.DigiCommerce.Models.Products.ProductsListModel
@{
    Layout = null;
}
@if (Model.PostsList.Any())
{
    <div class="row">
        @foreach (var post in Model.PostsList)
        {
            @Html.Raw(Model.ItemWrapperStart)
            switch (Model.ViewStyle)
            {
                case ViewStyles.Large:
                    Html.RenderPartial("Partials/_ProductLargeCardView", post);
                    break;
                case ViewStyles.Normal:
                    Html.RenderPartial("Partials/_ProductNormalCardView", post);
                    break;
                case ViewStyles.Small:
                    Html.RenderPartial("Partials/_ProductSmallCardView", post);
                    break;
            }
            @Html.Raw(Model.ItemWrapperEnd)
        }
    </div>
    if (Model.ShowPager)
    {
        <div class="row">
            <div class="col-12 t-mar-30">
                @Html.PagedListPager(Model.PostsList, page => Request.Url.ToString().BuildQueryStringUrl(new[] { "Page=" + page }).RemoveEmptyParametersFromQueryString(), new TwitterBootstrap4Pager())
            </div>
        </div>
    }
}
else
{
    <h5 class="text-center text-muted mar-v-150">
        <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
        <br />
        <br />
        @T("NoItemsToShow")
    </h5>
}