@using Devesprit.Core.Settings
@using Devesprit.Services
@using Devesprit.Services.Localization
@{
    Layout = null;
    var settings = DependencyResolver.Current.GetService<ISettingService>().LoadSetting<SiteSettings>();
}
<!-- Head slider -->
<div class="head-slider persiaNumber">
    <div class="head-slider-layer">
        <div class="container">
            <h1 class="head-title">@settings.GetLocalized(p => p.SiteName)</h1>
            <p class="desc-header">@settings.GetLocalized(p => p.SiteDescription)</p>
            @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @class = "header-form", novalidate = "novalidate" }))
            {
                <input id="txtSearch" type="text" name="query" class="header-form-input" placeholder="@T("Search")" data-val="true" data-val-required="" />
                <button type="submit" class="btn-header-form btn"><i class="fas fa-search"></i></button>
            }
        </div>
    </div>
</div>