@using System.Web.Mvc.Html
@using Devesprit.Core
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.Services.Localization
@using Devesprit.Utilities
@model Devesprit.DigiCommerce.Models.Products.ProductsExplorerModel

@{
    if (Model.PageIndex > 1)
    {
        Html.AddHeadCustomParts("<meta name=\"robots\" content=\"noindex\">");
    }
    ViewBag.Title = string.Format(Model.PostsListType.GetLocalized(), Model.PageIndex);
    ViewBag.MetaDescription = ViewBag.Title;
    var workContext = DependencyResolver.Current.GetService<IWorkContext>();
    Html.AddCanonicalUrlParts(Url.Action("ProductsExplorer", "Product", new {page = Model.PageIndex, listType = Model.PostsListType, catId= Model.FilterByCategoryId, fromDate = Model.FromDate, lang = workContext.CurrentLanguage.IsoCode}, Request.Url.Scheme));
}


<div class="t-pad-20">
    <h1 class="fs-20">
        <a href="@Url.Action("Products", "RssFeed", new {listType = Model.PostsListType, page = 1, catId = Model.FilterByCategoryId, fromDate = Model.FromDate}).RemoveEmptyParametersFromQueryString()" target="_blank" title="@T("RSSFeed")" class="text-warning"><i class="fa fa-rss"></i></a>
        @Html.Raw(ViewBag.Title)
    </h1>

    @{Html.RenderAction("GetProductsList", "Product", new
        {
            listType = Model.PostsListType,
            page = Model.PageIndex,
            pageSize = Model.PageSize,
            catId = Model.FilterByCategoryId,
            wrapperStart = "<div class='col-12 col-sm-6 col-lg-4 py-2'>",
            fromDate = Model.FromDate
        });}
</div>