/* Padders */
.pad-5{padding: 5px !important;}
.pad-10{padding: 10px !important;}
.pad-15{padding: 15px !important;}
.pad-20{padding: 20px !important;}
.pad-25{padding: 25px !important;}
.pad-30{padding: 30px !important;}
.pad-35{padding: 35px !important;}
.pad-40{padding: 40px !important;}
.pad-45{padding: 45px !important;}
.pad-50{padding: 50px !important;}
.pad-55{padding: 55px !important;}
.pad-60{padding: 60px !important;}
.pad-65{padding: 65px !important;}
.pad-70{padding: 70px !important;}
.pad-75{padding: 75px !important;}
.pad-80{padding: 80px !important;}
.pad-85{padding: 85px !important;}
.pad-90{padding: 90px !important;}
.pad-95{padding: 95px !important;}
.pad-100{padding: 100px !important;}
.pad-105{padding: 105px !important;}
.pad-110{padding: 110px !important;}
.pad-115{padding: 115px !important;}
.pad-120{padding: 120px !important;}
.pad-125{padding: 125px !important;}
.pad-130{padding: 130px !important;}
.pad-135{padding: 135px !important;}
.pad-140{padding: 140px !important;}
.pad-145{padding: 145px !important;}
.pad-150{padding: 150px !important;}
.pad-155{padding: 155px !important;}
.pad-160{padding: 160px !important;}
.pad-165{padding: 165px !important;}
.pad-170{padding: 170px !important;}
.pad-175{padding: 175px !important;}
.pad-180{padding: 180px !important;}
.pad-185{padding: 185px !important;}
.pad-190{padding: 190px !important;}
.pad-195{padding: 195px !important;}
.pad-200{padding: 200px !important;}
.pad-205{padding: 205px !important;}
.pad-210{padding: 210px !important;}
.pad-215{padding: 215px !important;}
.pad-220{padding: 220px !important;}
.pad-225{padding: 225px !important;}
.pad-230{padding: 230px !important;}
.pad-235{padding: 235px !important;}
.pad-240{padding: 240px !important;}
.pad-245{padding: 245px !important;}
.pad-250{padding: 250px !important;}
.pad-255{padding: 255px !important;}
.pad-260{padding: 260px !important;}
.pad-265{padding: 265px !important;}
.pad-270{padding: 270px !important;}
.pad-275{padding: 275px !important;}
.pad-280{padding: 280px !important;}
.pad-285{padding: 285px !important;}
.pad-290{padding: 290px !important;}
.pad-295{padding: 295px !important;}
.pad-300{padding: 300px !important;}

.t-pad-5{padding-top: 5px !important;}
.t-pad-10{padding-top: 10px !important;}
.t-pad-15{padding-top: 15px !important;}
.t-pad-20{padding-top: 20px !important;}
.t-pad-25{padding-top: 25px !important;}
.t-pad-30{padding-top: 30px !important;}
.t-pad-35{padding-top: 35px !important;}
.t-pad-40{padding-top: 40px !important;}
.t-pad-45{padding-top: 45px !important;}
.t-pad-50{padding-top: 50px !important;}
.t-pad-55{padding-top: 55px !important;}
.t-pad-60{padding-top: 60px !important;}
.t-pad-65{padding-top: 65px !important;}
.t-pad-70{padding-top: 70px !important;}
.t-pad-75{padding-top: 75px !important;}
.t-pad-80{padding-top: 80px !important;}
.t-pad-85{padding-top: 85px !important;}
.t-pad-90{padding-top: 90px !important;}
.t-pad-95{padding-top: 95px !important;}
.t-pad-100{padding-top: 100px !important;}
.t-pad-105{padding-top: 105px !important;}
.t-pad-110{padding-top: 110px !important;}
.t-pad-115{padding-top: 115px !important;}
.t-pad-120{padding-top: 120px !important;}
.t-pad-125{padding-top: 125px !important;}
.t-pad-130{padding-top: 130px !important;}
.t-pad-135{padding-top: 135px !important;}
.t-pad-140{padding-top: 140px !important;}
.t-pad-145{padding-top: 145px !important;}
.t-pad-150{padding-top: 150px !important;}
.t-pad-155{padding-top: 155px !important;}
.t-pad-160{padding-top: 160px !important;}
.t-pad-165{padding-top: 165px !important;}
.t-pad-170{padding-top: 170px !important;}
.t-pad-175{padding-top: 175px !important;}
.t-pad-180{padding-top: 180px !important;}
.t-pad-185{padding-top: 185px !important;}
.t-pad-190{padding-top: 190px !important;}
.t-pad-195{padding-top: 195px !important;}
.t-pad-200{padding-top: 200px !important;}
.t-pad-205{padding-top: 205px !important;}
.t-pad-210{padding-top: 210px !important;}
.t-pad-215{padding-top: 215px !important;}
.t-pad-220{padding-top: 220px !important;}
.t-pad-225{padding-top: 225px !important;}
.t-pad-230{padding-top: 230px !important;}
.t-pad-235{padding-top: 235px !important;}
.t-pad-240{padding-top: 240px !important;}
.t-pad-245{padding-top: 245px !important;}
.t-pad-250{padding-top: 250px !important;}
.t-pad-255{padding-top: 255px !important;}
.t-pad-260{padding-top: 260px !important;}
.t-pad-265{padding-top: 265px !important;}
.t-pad-270{padding-top: 270px !important;}
.t-pad-275{padding-top: 275px !important;}
.t-pad-280{padding-top: 280px !important;}
.t-pad-285{padding-top: 285px !important;}
.t-pad-290{padding-top: 290px !important;}
.t-pad-295{padding-top: 295px !important;}
.t-pad-300{padding-top: 300px !important;}

.b-pad-5{padding-bottom: 5px !important;}
.b-pad-10{padding-bottom: 10px !important;}
.b-pad-15{padding-bottom: 15px !important;}
.b-pad-20{padding-bottom: 20px !important;}
.b-pad-25{padding-bottom: 25px !important;}
.b-pad-30{padding-bottom: 30px !important;}
.b-pad-35{padding-bottom: 35px !important;}
.b-pad-40{padding-bottom: 40px !important;}
.b-pad-45{padding-bottom: 45px !important;}
.b-pad-50{padding-bottom: 50px !important;}
.b-pad-55{padding-bottom: 55px !important;}
.b-pad-60{padding-bottom: 60px !important;}
.b-pad-65{padding-bottom: 65px !important;}
.b-pad-70{padding-bottom: 70px !important;}
.b-pad-75{padding-bottom: 75px !important;}
.b-pad-80{padding-bottom: 80px !important;}
.b-pad-85{padding-bottom: 85px !important;}
.b-pad-90{padding-bottom: 90px !important;}
.b-pad-95{padding-bottom: 95px !important;}
.b-pad-100{padding-bottom: 100px !important;}
.b-pad-105{padding-bottom: 105px !important;}
.b-pad-110{padding-bottom: 110px !important;}
.b-pad-115{padding-bottom: 115px !important;}
.b-pad-120{padding-bottom: 120px !important;}
.b-pad-125{padding-bottom: 125px !important;}
.b-pad-130{padding-bottom: 130px !important;}
.b-pad-135{padding-bottom: 135px !important;}
.b-pad-140{padding-bottom: 140px !important;}
.b-pad-145{padding-bottom: 145px !important;}
.b-pad-150{padding-bottom: 150px !important;}
.b-pad-155{padding-bottom: 155px !important;}
.b-pad-160{padding-bottom: 160px !important;}
.b-pad-165{padding-bottom: 165px !important;}
.b-pad-170{padding-bottom: 170px !important;}
.b-pad-175{padding-bottom: 175px !important;}
.b-pad-180{padding-bottom: 180px !important;}
.b-pad-185{padding-bottom: 185px !important;}
.b-pad-190{padding-bottom: 190px !important;}
.b-pad-195{padding-bottom: 195px !important;}
.b-pad-200{padding-bottom: 200px !important;}
.b-pad-205{padding-bottom: 205px !important;}
.b-pad-210{padding-bottom: 210px !important;}
.b-pad-215{padding-bottom: 215px !important;}
.b-pad-220{padding-bottom: 220px !important;}
.b-pad-225{padding-bottom: 225px !important;}
.b-pad-230{padding-bottom: 230px !important;}
.b-pad-235{padding-bottom: 235px !important;}
.b-pad-240{padding-bottom: 240px !important;}
.b-pad-245{padding-bottom: 245px !important;}
.b-pad-250{padding-bottom: 250px !important;}
.b-pad-255{padding-bottom: 255px !important;}
.b-pad-260{padding-bottom: 260px !important;}
.b-pad-265{padding-bottom: 265px !important;}
.b-pad-270{padding-bottom: 270px !important;}
.b-pad-275{padding-bottom: 275px !important;}
.b-pad-280{padding-bottom: 280px !important;}
.b-pad-285{padding-bottom: 285px !important;}
.b-pad-290{padding-bottom: 290px !important;}
.b-pad-295{padding-bottom: 295px !important;}
.b-pad-300{padding-bottom: 300px !important;}

.l-pad-5{padding-left: 5px !important;}
.l-pad-10{padding-left: 10px !important;}
.l-pad-15{padding-left: 15px !important;}
.l-pad-20{padding-left: 20px !important;}
.l-pad-25{padding-left: 25px !important;}
.l-pad-30{padding-left: 30px !important;}
.l-pad-35{padding-left: 35px !important;}
.l-pad-40{padding-left: 40px !important;}
.l-pad-45{padding-left: 45px !important;}
.l-pad-50{padding-left: 50px !important;}
.l-pad-55{padding-left: 55px !important;}
.l-pad-60{padding-left: 60px !important;}
.l-pad-65{padding-left: 65px !important;}
.l-pad-70{padding-left: 70px !important;}
.l-pad-75{padding-left: 75px !important;}
.l-pad-80{padding-left: 80px !important;}
.l-pad-85{padding-left: 85px !important;}
.l-pad-90{padding-left: 90px !important;}
.l-pad-95{padding-left: 95px !important;}
.l-pad-100{padding-left: 100px !important;}
.l-pad-105{padding-left: 105px !important;}
.l-pad-110{padding-left: 110px !important;}
.l-pad-115{padding-left: 115px !important;}
.l-pad-120{padding-left: 120px !important;}
.l-pad-125{padding-left: 125px !important;}
.l-pad-130{padding-left: 130px !important;}
.l-pad-135{padding-left: 135px !important;}
.l-pad-140{padding-left: 140px !important;}
.l-pad-145{padding-left: 145px !important;}
.l-pad-150{padding-left: 150px !important;}
.l-pad-155{padding-left: 155px !important;}
.l-pad-160{padding-left: 160px !important;}
.l-pad-165{padding-left: 165px !important;}
.l-pad-170{padding-left: 170px !important;}
.l-pad-175{padding-left: 175px !important;}
.l-pad-180{padding-left: 180px !important;}
.l-pad-185{padding-left: 185px !important;}
.l-pad-190{padding-left: 190px !important;}
.l-pad-195{padding-left: 195px !important;}
.l-pad-200{padding-left: 200px !important;}
.l-pad-205{padding-left: 205px !important;}
.l-pad-210{padding-left: 210px !important;}
.l-pad-215{padding-left: 215px !important;}
.l-pad-220{padding-left: 220px !important;}
.l-pad-225{padding-left: 225px !important;}
.l-pad-230{padding-left: 230px !important;}
.l-pad-235{padding-left: 235px !important;}
.l-pad-240{padding-left: 240px !important;}
.l-pad-245{padding-left: 245px !important;}
.l-pad-250{padding-left: 250px !important;}
.l-pad-255{padding-left: 255px !important;}
.l-pad-260{padding-left: 260px !important;}
.l-pad-265{padding-left: 265px !important;}
.l-pad-270{padding-left: 270px !important;}
.l-pad-275{padding-left: 275px !important;}
.l-pad-280{padding-left: 280px !important;}
.l-pad-285{padding-left: 285px !important;}
.l-pad-290{padding-left: 290px !important;}
.l-pad-295{padding-left: 295px !important;}
.l-pad-300{padding-left: 300px !important;}

.r-pad-5{padding-right: 5px !important;}
.r-pad-10{padding-right: 10px !important;}
.r-pad-15{padding-right: 15px !important;}
.r-pad-20{padding-right: 20px !important;}
.r-pad-25{padding-right: 25px !important;}
.r-pad-30{padding-right: 30px !important;}
.r-pad-35{padding-right: 35px !important;}
.r-pad-40{padding-right: 40px !important;}
.r-pad-45{padding-right: 45px !important;}
.r-pad-50{padding-right: 50px !important;}
.r-pad-55{padding-right: 55px !important;}
.r-pad-60{padding-right: 60px !important;}
.r-pad-65{padding-right: 65px !important;}
.r-pad-70{padding-right: 70px !important;}
.r-pad-75{padding-right: 75px !important;}
.r-pad-80{padding-right: 80px !important;}
.r-pad-85{padding-right: 85px !important;}
.r-pad-90{padding-right: 90px !important;}
.r-pad-95{padding-right: 95px !important;}
.r-pad-100{padding-right: 100px !important;}
.r-pad-105{padding-right: 105px !important;}
.r-pad-110{padding-right: 110px !important;}
.r-pad-115{padding-right: 115px !important;}
.r-pad-120{padding-right: 120px !important;}
.r-pad-125{padding-right: 125px !important;}
.r-pad-130{padding-right: 130px !important;}
.r-pad-135{padding-right: 135px !important;}
.r-pad-140{padding-right: 140px !important;}
.r-pad-145{padding-right: 145px !important;}
.r-pad-150{padding-right: 150px !important;}
.r-pad-155{padding-right: 155px !important;}
.r-pad-160{padding-right: 160px !important;}
.r-pad-165{padding-right: 165px !important;}
.r-pad-170{padding-right: 170px !important;}
.r-pad-175{padding-right: 175px !important;}
.r-pad-180{padding-right: 180px !important;}
.r-pad-185{padding-right: 185px !important;}
.r-pad-190{padding-right: 190px !important;}
.r-pad-195{padding-right: 195px !important;}
.r-pad-200{padding-right: 200px !important;}
.r-pad-205{padding-right: 205px !important;}
.r-pad-210{padding-right: 210px !important;}
.r-pad-215{padding-right: 215px !important;}
.r-pad-220{padding-right: 220px !important;}
.r-pad-225{padding-right: 225px !important;}
.r-pad-230{padding-right: 230px !important;}
.r-pad-235{padding-right: 235px !important;}
.r-pad-240{padding-right: 240px !important;}
.r-pad-245{padding-right: 245px !important;}
.r-pad-250{padding-right: 250px !important;}
.r-pad-255{padding-right: 255px !important;}
.r-pad-260{padding-right: 260px !important;}
.r-pad-265{padding-right: 265px !important;}
.r-pad-270{padding-right: 270px !important;}
.r-pad-275{padding-right: 275px !important;}
.r-pad-280{padding-right: 280px !important;}
.r-pad-285{padding-right: 285px !important;}
.r-pad-290{padding-right: 290px !important;}
.r-pad-295{padding-right: 295px !important;}
.r-pad-300{padding-right: 300px !important;}

.pad-h-5{padding-left: 5px !important; padding-right: 5px !important; }
.pad-h-10{padding-left: 10px !important; padding-right: 10px !important; }
.pad-h-15{padding-left: 15px !important; padding-right: 15px !important; }
.pad-h-20{padding-left: 20px !important; padding-right: 20px !important; }
.pad-h-25{padding-left: 25px !important; padding-right: 25px !important; }
.pad-h-30{padding-left: 30px !important; padding-right: 30px !important; }
.pad-h-35{padding-left: 35px !important; padding-right: 35px !important; }
.pad-h-40{padding-left: 40px !important; padding-right: 40px !important; }
.pad-h-45{padding-left: 45px !important; padding-right: 45px !important; }
.pad-h-50{padding-left: 50px !important; padding-right: 50px !important; }
.pad-h-55{padding-left: 55px !important; padding-right: 55px !important; }
.pad-h-60{padding-left: 60px !important; padding-right: 60px !important; }
.pad-h-65{padding-left: 65px !important; padding-right: 65px !important; }
.pad-h-70{padding-left: 70px !important; padding-right: 70px !important; }
.pad-h-75{padding-left: 75px !important; padding-right: 75px !important; }
.pad-h-80{padding-left: 80px !important; padding-right: 80px !important; }
.pad-h-85{padding-left: 85px !important; padding-right: 85px !important; }
.pad-h-90{padding-left: 90px !important; padding-right: 90px !important; }
.pad-h-95{padding-left: 95px !important; padding-right: 95px !important; }
.pad-h-100{padding-left: 100px !important; padding-right: 100px !important; }
.pad-h-105{padding-left: 105px !important; padding-right: 105px !important; }
.pad-h-110{padding-left: 110px !important; padding-right: 110px !important; }
.pad-h-115{padding-left: 115px !important; padding-right: 115px !important; }
.pad-h-120{padding-left: 120px !important; padding-right: 120px !important; }
.pad-h-125{padding-left: 125px !important; padding-right: 125px !important; }
.pad-h-130{padding-left: 130px !important; padding-right: 130px !important; }
.pad-h-135{padding-left: 135px !important; padding-right: 135px !important; }
.pad-h-140{padding-left: 140px !important; padding-right: 140px !important; }
.pad-h-145{padding-left: 145px !important; padding-right: 145px !important; }
.pad-h-150{padding-left: 150px !important; padding-right: 150px !important; }
.pad-h-155{padding-left: 155px !important; padding-right: 155px !important; }
.pad-h-160{padding-left: 160px !important; padding-right: 160px !important; }
.pad-h-165{padding-left: 165px !important; padding-right: 165px !important; }
.pad-h-170{padding-left: 170px !important; padding-right: 170px !important; }
.pad-h-175{padding-left: 175px !important; padding-right: 175px !important; }
.pad-h-180{padding-left: 180px !important; padding-right: 180px !important; }
.pad-h-185{padding-left: 185px !important; padding-right: 185px !important; }
.pad-h-190{padding-left: 190px !important; padding-right: 190px !important; }
.pad-h-195{padding-left: 195px !important; padding-right: 195px !important; }
.pad-h-200{padding-left: 200px !important; padding-right: 200px !important; }
.pad-h-205{padding-left: 205px !important; padding-right: 205px !important; }
.pad-h-210{padding-left: 210px !important; padding-right: 210px !important; }
.pad-h-215{padding-left: 215px !important; padding-right: 215px !important; }
.pad-h-220{padding-left: 220px !important; padding-right: 220px !important; }
.pad-h-225{padding-left: 225px !important; padding-right: 225px !important; }
.pad-h-230{padding-left: 230px !important; padding-right: 230px !important; }
.pad-h-235{padding-left: 235px !important; padding-right: 235px !important; }
.pad-h-240{padding-left: 240px !important; padding-right: 240px !important; }
.pad-h-245{padding-left: 245px !important; padding-right: 245px !important; }
.pad-h-250{padding-left: 250px !important; padding-right: 250px !important; }
.pad-h-255{padding-left: 255px !important; padding-right: 255px !important; }
.pad-h-260{padding-left: 260px !important; padding-right: 260px !important; }
.pad-h-265{padding-left: 265px !important; padding-right: 265px !important; }
.pad-h-270{padding-left: 270px !important; padding-right: 270px !important; }
.pad-h-275{padding-left: 275px !important; padding-right: 275px !important; }
.pad-h-280{padding-left: 280px !important; padding-right: 280px !important; }
.pad-h-285{padding-left: 285px !important; padding-right: 285px !important; }
.pad-h-290{padding-left: 290px !important; padding-right: 290px !important; }
.pad-h-295{padding-left: 295px !important; padding-right: 295px !important; }
.pad-h-300{padding-left: 300px !important; padding-right: 300px !important; }

.pad-v-5{padding-top: 5px !important; padding-bottom: 5px !important; }
.pad-v-10{padding-top: 10px !important; padding-bottom: 10px !important; }
.pad-v-15{padding-top: 15px !important; padding-bottom: 15px !important; }
.pad-v-20{padding-top: 20px !important; padding-bottom: 20px !important; }
.pad-v-25{padding-top: 25px !important; padding-bottom: 25px !important; }
.pad-v-30{padding-top: 30px !important; padding-bottom: 30px !important; }
.pad-v-35{padding-top: 35px !important; padding-bottom: 35px !important; }
.pad-v-40{padding-top: 40px !important; padding-bottom: 40px !important; }
.pad-v-45{padding-top: 45px !important; padding-bottom: 45px !important; }
.pad-v-50{padding-top: 50px !important; padding-bottom: 50px !important; }
.pad-v-55{padding-top: 55px !important; padding-bottom: 55px !important; }
.pad-v-60{padding-top: 60px !important; padding-bottom: 60px !important; }
.pad-v-65{padding-top: 65px !important; padding-bottom: 65px !important; }
.pad-v-70{padding-top: 70px !important; padding-bottom: 70px !important; }
.pad-v-75{padding-top: 75px !important; padding-bottom: 75px !important; }
.pad-v-80{padding-top: 80px !important; padding-bottom: 80px !important; }
.pad-v-85{padding-top: 85px !important; padding-bottom: 85px !important; }
.pad-v-90{padding-top: 90px !important; padding-bottom: 90px !important; }
.pad-v-95{padding-top: 95px !important; padding-bottom: 95px !important; }
.pad-v-100{padding-top: 100px !important; padding-bottom: 100px !important; }
.pad-v-105{padding-top: 105px !important; padding-bottom: 105px !important; }
.pad-v-110{padding-top: 110px !important; padding-bottom: 110px !important; }
.pad-v-115{padding-top: 115px !important; padding-bottom: 115px !important; }
.pad-v-120{padding-top: 120px !important; padding-bottom: 120px !important; }
.pad-v-125{padding-top: 125px !important; padding-bottom: 125px !important; }
.pad-v-130{padding-top: 130px !important; padding-bottom: 130px !important; }
.pad-v-135{padding-top: 135px !important; padding-bottom: 135px !important; }
.pad-v-140{padding-top: 140px !important; padding-bottom: 140px !important; }
.pad-v-145{padding-top: 145px !important; padding-bottom: 145px !important; }
.pad-v-150{padding-top: 150px !important; padding-bottom: 150px !important; }
.pad-v-155{padding-top: 155px !important; padding-bottom: 155px !important; }
.pad-v-160{padding-top: 160px !important; padding-bottom: 160px !important; }
.pad-v-165{padding-top: 165px !important; padding-bottom: 165px !important; }
.pad-v-170{padding-top: 170px !important; padding-bottom: 170px !important; }
.pad-v-175{padding-top: 175px !important; padding-bottom: 175px !important; }
.pad-v-180{padding-top: 180px !important; padding-bottom: 180px !important; }
.pad-v-185{padding-top: 185px !important; padding-bottom: 185px !important; }
.pad-v-190{padding-top: 190px !important; padding-bottom: 190px !important; }
.pad-v-195{padding-top: 195px !important; padding-bottom: 195px !important; }
.pad-v-200{padding-top: 200px !important; padding-bottom: 200px !important; }
.pad-v-205{padding-top: 205px !important; padding-bottom: 205px !important; }
.pad-v-210{padding-top: 210px !important; padding-bottom: 210px !important; }
.pad-v-215{padding-top: 215px !important; padding-bottom: 215px !important; }
.pad-v-220{padding-top: 220px !important; padding-bottom: 220px !important; }
.pad-v-225{padding-top: 225px !important; padding-bottom: 225px !important; }
.pad-v-230{padding-top: 230px !important; padding-bottom: 230px !important; }
.pad-v-235{padding-top: 235px !important; padding-bottom: 235px !important; }
.pad-v-240{padding-top: 240px !important; padding-bottom: 240px !important; }
.pad-v-245{padding-top: 245px !important; padding-bottom: 245px !important; }
.pad-v-250{padding-top: 250px !important; padding-bottom: 250px !important; }
.pad-v-255{padding-top: 255px !important; padding-bottom: 255px !important; }
.pad-v-260{padding-top: 260px !important; padding-bottom: 260px !important; }
.pad-v-265{padding-top: 265px !important; padding-bottom: 265px !important; }
.pad-v-270{padding-top: 270px !important; padding-bottom: 270px !important; }
.pad-v-275{padding-top: 275px !important; padding-bottom: 275px !important; }
.pad-v-280{padding-top: 280px !important; padding-bottom: 280px !important; }
.pad-v-285{padding-top: 285px !important; padding-bottom: 285px !important; }
.pad-v-290{padding-top: 290px !important; padding-bottom: 290px !important; }
.pad-v-295{padding-top: 295px !important; padding-bottom: 295px !important; }
.pad-v-300{padding-top: 300px !important; padding-bottom: 300px !important; }

.no-h-pad {padding-left: 0px !important; padding-right: 0px !important; }
.no-v-pad {padding-top: 0px !important; padding-bottom: 0px !important; }
.no-l-pad {padding-left: 0px !important;}
.no-r-pad {padding-right: 0px !important;}
.no-t-pad {padding-top: 0px !important;}
.no-b-pad {padding-bottom: 0px !important;}
.no-pad {padding: 0px !important;}

/* Margins */
.mar-5{margin: 5px !important;}
.mar-10{margin: 10px !important;}
.mar-15{margin: 15px !important;}
.mar-20{margin: 20px !important;}
.mar-25{margin: 25px !important;}
.mar-30{margin: 30px !important;}
.mar-35{margin: 35px !important;}
.mar-40{margin: 40px !important;}
.mar-45{margin: 45px !important;}
.mar-50{margin: 50px !important;}
.mar-55{margin: 55px !important;}
.mar-60{margin: 60px !important;}
.mar-65{margin: 65px !important;}
.mar-70{margin: 70px !important;}
.mar-75{margin: 75px !important;}
.mar-80{margin: 80px !important;}
.mar-85{margin: 85px !important;}
.mar-90{margin: 90px !important;}
.mar-95{margin: 95px !important;}
.mar-100{margin: 100px !important;}
.mar-105{margin: 105px !important;}
.mar-110{margin: 110px !important;}
.mar-115{margin: 115px !important;}
.mar-120{margin: 120px !important;}
.mar-125{margin: 125px !important;}
.mar-130{margin: 130px !important;}
.mar-135{margin: 135px !important;}
.mar-140{margin: 140px !important;}
.mar-145{margin: 145px !important;}
.mar-150{margin: 150px !important;}
.mar-155{margin: 155px !important;}
.mar-160{margin: 160px !important;}
.mar-165{margin: 165px !important;}
.mar-170{margin: 170px !important;}
.mar-175{margin: 175px !important;}
.mar-180{margin: 180px !important;}
.mar-185{margin: 185px !important;}
.mar-190{margin: 190px !important;}
.mar-195{margin: 195px !important;}
.mar-200{margin: 200px !important;}
.mar-205{margin: 205px !important;}
.mar-210{margin: 210px !important;}
.mar-215{margin: 215px !important;}
.mar-220{margin: 220px !important;}
.mar-225{margin: 225px !important;}
.mar-230{margin: 230px !important;}
.mar-235{margin: 235px !important;}
.mar-240{margin: 240px !important;}
.mar-245{margin: 245px !important;}
.mar-250{margin: 250px !important;}
.mar-255{margin: 255px !important;}
.mar-260{margin: 260px !important;}
.mar-265{margin: 265px !important;}
.mar-270{margin: 270px !important;}
.mar-275{margin: 275px !important;}
.mar-280{margin: 280px !important;}
.mar-285{margin: 285px !important;}
.mar-290{margin: 290px !important;}
.mar-295{margin: 295px !important;}
.mar-300{margin: 300px !important;}

.t-mar-5{margin-top: 5px !important;}
.t-mar-10{margin-top: 10px !important;}
.t-mar-15{margin-top: 15px !important;}
.t-mar-20{margin-top: 20px !important;}
.t-mar-25{margin-top: 25px !important;}
.t-mar-30{margin-top: 30px !important;}
.t-mar-35{margin-top: 35px !important;}
.t-mar-40{margin-top: 40px !important;}
.t-mar-45{margin-top: 45px !important;}
.t-mar-50{margin-top: 50px !important;}
.t-mar-55{margin-top: 55px !important;}
.t-mar-60{margin-top: 60px !important;}
.t-mar-65{margin-top: 65px !important;}
.t-mar-70{margin-top: 70px !important;}
.t-mar-75{margin-top: 75px !important;}
.t-mar-80{margin-top: 80px !important;}
.t-mar-85{margin-top: 85px !important;}
.t-mar-90{margin-top: 90px !important;}
.t-mar-95{margin-top: 95px !important;}
.t-mar-100{margin-top: 100px !important;}
.t-mar-105{margin-top: 105px !important;}
.t-mar-110{margin-top: 110px !important;}
.t-mar-115{margin-top: 115px !important;}
.t-mar-120{margin-top: 120px !important;}
.t-mar-125{margin-top: 125px !important;}
.t-mar-130{margin-top: 130px !important;}
.t-mar-135{margin-top: 135px !important;}
.t-mar-140{margin-top: 140px !important;}
.t-mar-145{margin-top: 145px !important;}
.t-mar-150{margin-top: 150px !important;}
.t-mar-155{margin-top: 155px !important;}
.t-mar-160{margin-top: 160px !important;}
.t-mar-165{margin-top: 165px !important;}
.t-mar-170{margin-top: 170px !important;}
.t-mar-175{margin-top: 175px !important;}
.t-mar-180{margin-top: 180px !important;}
.t-mar-185{margin-top: 185px !important;}
.t-mar-190{margin-top: 190px !important;}
.t-mar-195{margin-top: 195px !important;}
.t-mar-200{margin-top: 200px !important;}
.t-mar-205{margin-top: 205px !important;}
.t-mar-210{margin-top: 210px !important;}
.t-mar-215{margin-top: 215px !important;}
.t-mar-220{margin-top: 220px !important;}
.t-mar-225{margin-top: 225px !important;}
.t-mar-230{margin-top: 230px !important;}
.t-mar-235{margin-top: 235px !important;}
.t-mar-240{margin-top: 240px !important;}
.t-mar-245{margin-top: 245px !important;}
.t-mar-250{margin-top: 250px !important;}
.t-mar-255{margin-top: 255px !important;}
.t-mar-260{margin-top: 260px !important;}
.t-mar-265{margin-top: 265px !important;}
.t-mar-270{margin-top: 270px !important;}
.t-mar-275{margin-top: 275px !important;}
.t-mar-280{margin-top: 280px !important;}
.t-mar-285{margin-top: 285px !important;}
.t-mar-290{margin-top: 290px !important;}
.t-mar-295{margin-top: 295px !important;}
.t-mar-300{margin-top: 300px !important;}

.b-mar-5{margin-bottom: 5px !important;}
.b-mar-10{margin-bottom: 10px !important;}
.b-mar-15{margin-bottom: 15px !important;}
.b-mar-20{margin-bottom: 20px !important;}
.b-mar-25{margin-bottom: 25px !important;}
.b-mar-30{margin-bottom: 30px !important;}
.b-mar-35{margin-bottom: 35px !important;}
.b-mar-40{margin-bottom: 40px !important;}
.b-mar-45{margin-bottom: 45px !important;}
.b-mar-50{margin-bottom: 50px !important;}
.b-mar-55{margin-bottom: 55px !important;}
.b-mar-60{margin-bottom: 60px !important;}
.b-mar-65{margin-bottom: 65px !important;}
.b-mar-70{margin-bottom: 70px !important;}
.b-mar-75{margin-bottom: 75px !important;}
.b-mar-80{margin-bottom: 80px !important;}
.b-mar-85{margin-bottom: 85px !important;}
.b-mar-90{margin-bottom: 90px !important;}
.b-mar-95{margin-bottom: 95px !important;}
.b-mar-100{margin-bottom: 100px !important;}
.b-mar-105{margin-bottom: 105px !important;}
.b-mar-110{margin-bottom: 110px !important;}
.b-mar-115{margin-bottom: 115px !important;}
.b-mar-120{margin-bottom: 120px !important;}
.b-mar-125{margin-bottom: 125px !important;}
.b-mar-130{margin-bottom: 130px !important;}
.b-mar-135{margin-bottom: 135px !important;}
.b-mar-140{margin-bottom: 140px !important;}
.b-mar-145{margin-bottom: 145px !important;}
.b-mar-150{margin-bottom: 150px !important;}
.b-mar-155{margin-bottom: 155px !important;}
.b-mar-160{margin-bottom: 160px !important;}
.b-mar-165{margin-bottom: 165px !important;}
.b-mar-170{margin-bottom: 170px !important;}
.b-mar-175{margin-bottom: 175px !important;}
.b-mar-180{margin-bottom: 180px !important;}
.b-mar-185{margin-bottom: 185px !important;}
.b-mar-190{margin-bottom: 190px !important;}
.b-mar-195{margin-bottom: 195px !important;}
.b-mar-200{margin-bottom: 200px !important;}
.b-mar-205{margin-bottom: 205px !important;}
.b-mar-210{margin-bottom: 210px !important;}
.b-mar-215{margin-bottom: 215px !important;}
.b-mar-220{margin-bottom: 220px !important;}
.b-mar-225{margin-bottom: 225px !important;}
.b-mar-230{margin-bottom: 230px !important;}
.b-mar-235{margin-bottom: 235px !important;}
.b-mar-240{margin-bottom: 240px !important;}
.b-mar-245{margin-bottom: 245px !important;}
.b-mar-250{margin-bottom: 250px !important;}
.b-mar-255{margin-bottom: 255px !important;}
.b-mar-260{margin-bottom: 260px !important;}
.b-mar-265{margin-bottom: 265px !important;}
.b-mar-270{margin-bottom: 270px !important;}
.b-mar-275{margin-bottom: 275px !important;}
.b-mar-280{margin-bottom: 280px !important;}
.b-mar-285{margin-bottom: 285px !important;}
.b-mar-290{margin-bottom: 290px !important;}
.b-mar-295{margin-bottom: 295px !important;}
.b-mar-300{margin-bottom: 300px !important;}

.l-mar-5{margin-left: 5px !important;}
.l-mar-10{margin-left: 10px !important;}
.l-mar-15{margin-left: 15px !important;}
.l-mar-20{margin-left: 20px !important;}
.l-mar-25{margin-left: 25px !important;}
.l-mar-30{margin-left: 30px !important;}
.l-mar-35{margin-left: 35px !important;}
.l-mar-40{margin-left: 40px !important;}
.l-mar-45{margin-left: 45px !important;}
.l-mar-50{margin-left: 50px !important;}
.l-mar-55{margin-left: 55px !important;}
.l-mar-60{margin-left: 60px !important;}
.l-mar-65{margin-left: 65px !important;}
.l-mar-70{margin-left: 70px !important;}
.l-mar-75{margin-left: 75px !important;}
.l-mar-80{margin-left: 80px !important;}
.l-mar-85{margin-left: 85px !important;}
.l-mar-90{margin-left: 90px !important;}
.l-mar-95{margin-left: 95px !important;}
.l-mar-100{margin-left: 100px !important;}
.l-mar-105{margin-left: 105px !important;}
.l-mar-110{margin-left: 110px !important;}
.l-mar-115{margin-left: 115px !important;}
.l-mar-120{margin-left: 120px !important;}
.l-mar-125{margin-left: 125px !important;}
.l-mar-130{margin-left: 130px !important;}
.l-mar-135{margin-left: 135px !important;}
.l-mar-140{margin-left: 140px !important;}
.l-mar-145{margin-left: 145px !important;}
.l-mar-150{margin-left: 150px !important;}
.l-mar-155{margin-left: 155px !important;}
.l-mar-160{margin-left: 160px !important;}
.l-mar-165{margin-left: 165px !important;}
.l-mar-170{margin-left: 170px !important;}
.l-mar-175{margin-left: 175px !important;}
.l-mar-180{margin-left: 180px !important;}
.l-mar-185{margin-left: 185px !important;}
.l-mar-190{margin-left: 190px !important;}
.l-mar-195{margin-left: 195px !important;}
.l-mar-200{margin-left: 200px !important;}
.l-mar-205{margin-left: 205px !important;}
.l-mar-210{margin-left: 210px !important;}
.l-mar-215{margin-left: 215px !important;}
.l-mar-220{margin-left: 220px !important;}
.l-mar-225{margin-left: 225px !important;}
.l-mar-230{margin-left: 230px !important;}
.l-mar-235{margin-left: 235px !important;}
.l-mar-240{margin-left: 240px !important;}
.l-mar-245{margin-left: 245px !important;}
.l-mar-250{margin-left: 250px !important;}
.l-mar-255{margin-left: 255px !important;}
.l-mar-260{margin-left: 260px !important;}
.l-mar-265{margin-left: 265px !important;}
.l-mar-270{margin-left: 270px !important;}
.l-mar-275{margin-left: 275px !important;}
.l-mar-280{margin-left: 280px !important;}
.l-mar-285{margin-left: 285px !important;}
.l-mar-290{margin-left: 290px !important;}
.l-mar-295{margin-left: 295px !important;}
.l-mar-300{margin-left: 300px !important;}

.r-mar-5{margin-right: 5px !important;}
.r-mar-10{margin-right: 10px !important;}
.r-mar-15{margin-right: 15px !important;}
.r-mar-20{margin-right: 20px !important;}
.r-mar-25{margin-right: 25px !important;}
.r-mar-30{margin-right: 30px !important;}
.r-mar-35{margin-right: 35px !important;}
.r-mar-40{margin-right: 40px !important;}
.r-mar-45{margin-right: 45px !important;}
.r-mar-50{margin-right: 50px !important;}
.r-mar-55{margin-right: 55px !important;}
.r-mar-60{margin-right: 60px !important;}
.r-mar-65{margin-right: 65px !important;}
.r-mar-70{margin-right: 70px !important;}
.r-mar-75{margin-right: 75px !important;}
.r-mar-80{margin-right: 80px !important;}
.r-mar-85{margin-right: 85px !important;}
.r-mar-90{margin-right: 90px !important;}
.r-mar-95{margin-right: 95px !important;}
.r-mar-100{margin-right: 100px !important;}
.r-mar-105{margin-right: 105px !important;}
.r-mar-110{margin-right: 110px !important;}
.r-mar-115{margin-right: 115px !important;}
.r-mar-120{margin-right: 120px !important;}
.r-mar-125{margin-right: 125px !important;}
.r-mar-130{margin-right: 130px !important;}
.r-mar-135{margin-right: 135px !important;}
.r-mar-140{margin-right: 140px !important;}
.r-mar-145{margin-right: 145px !important;}
.r-mar-150{margin-right: 150px !important;}
.r-mar-155{margin-right: 155px !important;}
.r-mar-160{margin-right: 160px !important;}
.r-mar-165{margin-right: 165px !important;}
.r-mar-170{margin-right: 170px !important;}
.r-mar-175{margin-right: 175px !important;}
.r-mar-180{margin-right: 180px !important;}
.r-mar-185{margin-right: 185px !important;}
.r-mar-190{margin-right: 190px !important;}
.r-mar-195{margin-right: 195px !important;}
.r-mar-200{margin-right: 200px !important;}
.r-mar-205{margin-right: 205px !important;}
.r-mar-210{margin-right: 210px !important;}
.r-mar-215{margin-right: 215px !important;}
.r-mar-220{margin-right: 220px !important;}
.r-mar-225{margin-right: 225px !important;}
.r-mar-230{margin-right: 230px !important;}
.r-mar-235{margin-right: 235px !important;}
.r-mar-240{margin-right: 240px !important;}
.r-mar-245{margin-right: 245px !important;}
.r-mar-250{margin-right: 250px !important;}
.r-mar-255{margin-right: 255px !important;}
.r-mar-260{margin-right: 260px !important;}
.r-mar-265{margin-right: 265px !important;}
.r-mar-270{margin-right: 270px !important;}
.r-mar-275{margin-right: 275px !important;}
.r-mar-280{margin-right: 280px !important;}
.r-mar-285{margin-right: 285px !important;}
.r-mar-290{margin-right: 290px !important;}
.r-mar-295{margin-right: 295px !important;}
.r-mar-300{margin-right: 300px !important;}

.mar-h-1 {margin-left: 1px !important;margin-right: 1px !important; }
.mar-h-2 {margin-left: 2px !important;margin-right: 2px !important; }
.mar-h-3 {margin-left: 3px !important;margin-right: 3px !important; }
.mar-h-4 {margin-left: 4px !important;margin-right: 4px !important; }
.mar-h-5{margin-left: 5px !important; margin-right: 5px !important; }
.mar-h-10{margin-left: 10px !important; margin-right: 10px !important; }
.mar-h-15{margin-left: 15px !important; margin-right: 15px !important; }
.mar-h-20{margin-left: 20px !important; margin-right: 20px !important; }
.mar-h-25{margin-left: 25px !important; margin-right: 25px !important; }
.mar-h-30{margin-left: 30px !important; margin-right: 30px !important; }
.mar-h-35{margin-left: 35px !important; margin-right: 35px !important; }
.mar-h-40{margin-left: 40px !important; margin-right: 40px !important; }
.mar-h-45{margin-left: 45px !important; margin-right: 45px !important; }
.mar-h-50{margin-left: 50px !important; margin-right: 50px !important; }
.mar-h-55{margin-left: 55px !important; margin-right: 55px !important; }
.mar-h-60{margin-left: 60px !important; margin-right: 60px !important; }
.mar-h-65{margin-left: 65px !important; margin-right: 65px !important; }
.mar-h-70{margin-left: 70px !important; margin-right: 70px !important; }
.mar-h-75{margin-left: 75px !important; margin-right: 75px !important; }
.mar-h-80{margin-left: 80px !important; margin-right: 80px !important; }
.mar-h-85{margin-left: 85px !important; margin-right: 85px !important; }
.mar-h-90{margin-left: 90px !important; margin-right: 90px !important; }
.mar-h-95{margin-left: 95px !important; margin-right: 95px !important; }
.mar-h-100{margin-left: 100px !important; margin-right: 100px !important; }
.mar-h-105{margin-left: 105px !important; margin-right: 105px !important; }
.mar-h-110{margin-left: 110px !important; margin-right: 110px !important; }
.mar-h-115{margin-left: 115px !important; margin-right: 115px !important; }
.mar-h-120{margin-left: 120px !important; margin-right: 120px !important; }
.mar-h-125{margin-left: 125px !important; margin-right: 125px !important; }
.mar-h-130{margin-left: 130px !important; margin-right: 130px !important; }
.mar-h-135{margin-left: 135px !important; margin-right: 135px !important; }
.mar-h-140{margin-left: 140px !important; margin-right: 140px !important; }
.mar-h-145{margin-left: 145px !important; margin-right: 145px !important; }
.mar-h-150{margin-left: 150px !important; margin-right: 150px !important; }
.mar-h-155{margin-left: 155px !important; margin-right: 155px !important; }
.mar-h-160{margin-left: 160px !important; margin-right: 160px !important; }
.mar-h-165{margin-left: 165px !important; margin-right: 165px !important; }
.mar-h-170{margin-left: 170px !important; margin-right: 170px !important; }
.mar-h-175{margin-left: 175px !important; margin-right: 175px !important; }
.mar-h-180{margin-left: 180px !important; margin-right: 180px !important; }
.mar-h-185{margin-left: 185px !important; margin-right: 185px !important; }
.mar-h-190{margin-left: 190px !important; margin-right: 190px !important; }
.mar-h-195{margin-left: 195px !important; margin-right: 195px !important; }
.mar-h-200{margin-left: 200px !important; margin-right: 200px !important; }
.mar-h-205{margin-left: 205px !important; margin-right: 205px !important; }
.mar-h-210{margin-left: 210px !important; margin-right: 210px !important; }
.mar-h-215{margin-left: 215px !important; margin-right: 215px !important; }
.mar-h-220{margin-left: 220px !important; margin-right: 220px !important; }
.mar-h-225{margin-left: 225px !important; margin-right: 225px !important; }
.mar-h-230{margin-left: 230px !important; margin-right: 230px !important; }
.mar-h-235{margin-left: 235px !important; margin-right: 235px !important; }
.mar-h-240{margin-left: 240px !important; margin-right: 240px !important; }
.mar-h-245{margin-left: 245px !important; margin-right: 245px !important; }
.mar-h-250{margin-left: 250px !important; margin-right: 250px !important; }
.mar-h-255{margin-left: 255px !important; margin-right: 255px !important; }
.mar-h-260{margin-left: 260px !important; margin-right: 260px !important; }
.mar-h-265{margin-left: 265px !important; margin-right: 265px !important; }
.mar-h-270{margin-left: 270px !important; margin-right: 270px !important; }
.mar-h-275{margin-left: 275px !important; margin-right: 275px !important; }
.mar-h-280{margin-left: 280px !important; margin-right: 280px !important; }
.mar-h-285{margin-left: 285px !important; margin-right: 285px !important; }
.mar-h-290{margin-left: 290px !important; margin-right: 290px !important; }
.mar-h-295{margin-left: 295px !important; margin-right: 295px !important; }
.mar-h-300{margin-left: 300px !important; margin-right: 300px !important; }

.mar-v-5{margin-top: 5px !important; margin-bottom: 5px !important; }
.mar-v-10{margin-top: 10px !important; margin-bottom: 10px !important; }
.mar-v-15{margin-top: 15px !important; margin-bottom: 15px !important; }
.mar-v-20{margin-top: 20px !important; margin-bottom: 20px !important; }
.mar-v-25{margin-top: 25px !important; margin-bottom: 25px !important; }
.mar-v-30{margin-top: 30px !important; margin-bottom: 30px !important; }
.mar-v-35{margin-top: 35px !important; margin-bottom: 35px !important; }
.mar-v-40{margin-top: 40px !important; margin-bottom: 40px !important; }
.mar-v-45{margin-top: 45px !important; margin-bottom: 45px !important; }
.mar-v-50{margin-top: 50px !important; margin-bottom: 50px !important; }
.mar-v-55{margin-top: 55px !important; margin-bottom: 55px !important; }
.mar-v-60{margin-top: 60px !important; margin-bottom: 60px !important; }
.mar-v-65{margin-top: 65px !important; margin-bottom: 65px !important; }
.mar-v-70{margin-top: 70px !important; margin-bottom: 70px !important; }
.mar-v-75{margin-top: 75px !important; margin-bottom: 75px !important; }
.mar-v-80{margin-top: 80px !important; margin-bottom: 80px !important; }
.mar-v-85{margin-top: 85px !important; margin-bottom: 85px !important; }
.mar-v-90{margin-top: 90px !important; margin-bottom: 90px !important; }
.mar-v-95{margin-top: 95px !important; margin-bottom: 95px !important; }
.mar-v-100{margin-top: 100px !important; margin-bottom: 100px !important; }
.mar-v-105{margin-top: 105px !important; margin-bottom: 105px !important; }
.mar-v-110{margin-top: 110px !important; margin-bottom: 110px !important; }
.mar-v-115{margin-top: 115px !important; margin-bottom: 115px !important; }
.mar-v-120{margin-top: 120px !important; margin-bottom: 120px !important; }
.mar-v-125{margin-top: 125px !important; margin-bottom: 125px !important; }
.mar-v-130{margin-top: 130px !important; margin-bottom: 130px !important; }
.mar-v-135{margin-top: 135px !important; margin-bottom: 135px !important; }
.mar-v-140{margin-top: 140px !important; margin-bottom: 140px !important; }
.mar-v-145{margin-top: 145px !important; margin-bottom: 145px !important; }
.mar-v-150{margin-top: 150px !important; margin-bottom: 150px !important; }
.mar-v-155{margin-top: 155px !important; margin-bottom: 155px !important; }
.mar-v-160{margin-top: 160px !important; margin-bottom: 160px !important; }
.mar-v-165{margin-top: 165px !important; margin-bottom: 165px !important; }
.mar-v-170{margin-top: 170px !important; margin-bottom: 170px !important; }
.mar-v-175{margin-top: 175px !important; margin-bottom: 175px !important; }
.mar-v-180{margin-top: 180px !important; margin-bottom: 180px !important; }
.mar-v-185{margin-top: 185px !important; margin-bottom: 185px !important; }
.mar-v-190{margin-top: 190px !important; margin-bottom: 190px !important; }
.mar-v-195{margin-top: 195px !important; margin-bottom: 195px !important; }
.mar-v-200{margin-top: 200px !important; margin-bottom: 200px !important; }
.mar-v-205{margin-top: 205px !important; margin-bottom: 205px !important; }
.mar-v-210{margin-top: 210px !important; margin-bottom: 210px !important; }
.mar-v-215{margin-top: 215px !important; margin-bottom: 215px !important; }
.mar-v-220{margin-top: 220px !important; margin-bottom: 220px !important; }
.mar-v-225{margin-top: 225px !important; margin-bottom: 225px !important; }
.mar-v-230{margin-top: 230px !important; margin-bottom: 230px !important; }
.mar-v-235{margin-top: 235px !important; margin-bottom: 235px !important; }
.mar-v-240{margin-top: 240px !important; margin-bottom: 240px !important; }
.mar-v-245{margin-top: 245px !important; margin-bottom: 245px !important; }
.mar-v-250{margin-top: 250px !important; margin-bottom: 250px !important; }
.mar-v-255{margin-top: 255px !important; margin-bottom: 255px !important; }
.mar-v-260{margin-top: 260px !important; margin-bottom: 260px !important; }
.mar-v-265{margin-top: 265px !important; margin-bottom: 265px !important; }
.mar-v-270{margin-top: 270px !important; margin-bottom: 270px !important; }
.mar-v-275{margin-top: 275px !important; margin-bottom: 275px !important; }
.mar-v-280{margin-top: 280px !important; margin-bottom: 280px !important; }
.mar-v-285{margin-top: 285px !important; margin-bottom: 285px !important; }
.mar-v-290{margin-top: 290px !important; margin-bottom: 290px !important; }
.mar-v-295{margin-top: 295px !important; margin-bottom: 295px !important; }
.mar-v-300{margin-top: 300px !important; margin-bottom: 300px !important; }

.no-h-mar {margin-left: 0px !important; margin-right: 0px !important; }
.no-v-mar {margin-top: 0px !important; margin-bottom: 0px !important; }
.no-l-mar {margin-left: 0px !important;}
.no-r-mar {margin-right: 0px !important;}
.no-t-mar {margin-top: 0px !important;}
.no-b-mar {margin-bottom: 0px !important;}
.no-mar {margin: 0px !important;}


/* Text Align*/
.text-align-initial {
    text-align: initial !important;
}
.text-left-not-xs, .text-left-not-sm, .text-left-not-md, .text-left-not-lg {
    text-align: left !important;
}
.text-center-not-xs, .text-center-not-sm, .text-center-not-md, .text-center-not-lg {
    text-align: center !important;
}
.text-right-not-xs, .text-right-not-sm, .text-right-not-md, .text-right-not-lg {
    text-align: right !important;
}
.text-justify-not-xs, .text-justify-not-sm, .text-justify-not-md, .text-justify-not-lg {
    text-align: justify !important;
}

@media (max-width: 767px) {
    .text-left-not-xs, .text-center-not-xs, .text-right-not-xs, .text-justify-not-xs {
        text-align: inherit !important;
    }
    .text-left-xs {
        text-align: left !important;
    }
    .text-center-xs {
        text-align: center !important;
    }
    .text-right-xs {
        text-align: right !important;
    }
    .text-justify-xs {
        text-align: justify !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .text-left-not-sm, .text-center-not-sm, .text-right-not-sm, .text-justify-not-sm {
        text-align: inherit !important;
    }
    .text-left-sm {
        text-align: left !important;
    }
    .text-center-sm {
        text-align: center !important;
    }
    .text-right-sm {
        text-align: right !important;
    }
    .text-justify-sm {
        text-align: justify !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .text-left-not-md, .text-center-not-md, .text-right-not-md, .text-justify-not-md {
        text-align: inherit;
    }
    .text-left-md {
        text-align: left !important;
    }
    .text-center-md {
        text-align: center !important;
    }
    .text-right-md {
        text-align: right !important;
    }
    .text-justify-md {
        text-align: justify !important;
    }
}
@media (min-width: 1200px) {
    .text-left-not-lg, .text-center-not-lg, .text-right-not-lg, .text-justify-not-lg {
        text-align: inherit !important;
    }
    .text-left-lg {
        text-align: left !important;
    }
    .text-center-lg {
        text-align: center !important;
    }
    .text-right-lg {
        text-align: right !important;
    }
    .text-justify-lg {
        text-align: justify !important;
    }
}

/* Display options */
.block {
    display: block !important;
}
.inline {
    display: inline !important;
}
.inline-block {
    display: inline-block !important;
}

/* Fonts */
.fs-9{ font-size: 9px !important;}
.fs-10{ font-size: 10px !important;}
.fs-11{ font-size: 11px !important;}
.fs-12{ font-size: 12px !important;}
.fs-13{ font-size: 13px !important;}
.fs-14{ font-size: 14px !important;}
.fs-16{ font-size: 16px !important;}
.fs-18{ font-size: 18px !important;}
.fs-20{ font-size: 20px !important;}
.fs-22{ font-size: 22px !important;}
.fs-25{ font-size: 25px !important;}
.fs-30{ font-size: 30px !important;}
.fs-35{ font-size: 35px !important;}
.fs-40{ font-size: 40px !important;}
.fs-45{ font-size: 45px !important;}
.fs-50{ font-size: 50px !important;}
.fs-55{ font-size: 55px !important;}
.fs-60{ font-size: 60px !important;}
.fs-65{ font-size: 65px !important;}
.fs-70{ font-size: 70px !important;}
.fs-80{ font-size: 80px !important;}

.fw-bold{ font-weight: bold !important;}
.fw-500{ font-weight: 500 !important;}
.fw-300{ font-weight: 300 !important;}
.fw-200{ font-weight: 200 !important;}
.fw-normal{ font-weight: normal !important;}

/* line heights */
.line-height-1 {
    line-height: 1 !important;
}
.line-height-1-1 {
    line-height: 1.1 !important;
}
.line-height-1-2 {
    line-height: 1.2 !important;
}
.line-height-1-3 {
    line-height: 1.3 !important;
}
.line-height-1-4 {
    line-height: 1.4 !important;
}
.line-height-1-5 {
    line-height: 1.5 !important;
}
.line-height-1-6 {
    line-height: 1.6 !important;
}
.line-height-1-7 {
    line-height: 1.7 !important;
}
.line-height-1-8 {
    line-height: 1.8 !important;
}
.line-height-1-9 {
    line-height: 1.9 !important;
}
.line-height-normal {
    line-height: normal !important;
}

/* Widths & Heights */
.width-100-percent {
    width: 100% !important;
}
.no-min-height {
    min-height: inherit !important;
}
.no-min-width {
    min-width: inherit !important;
}
.no-max-height {
    max-height: inherit !important;
}
.no-max-width {
    max-width: inherit !important;
}
.mh-100 {
    max-height: 100% !important;
}
.mw-100{
    max-width: 100% !important;
}

/* Directions */
.rtl-dir {
    direction: rtl !important;
}
.ltr-dir {
    direction: ltr !important;
}

/* Text */
.truncate-text {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.pos-relative {
    position: relative !important;
}

.hide-overflow {
    overflow: hidden !important;
}

.no-hide-overflow {
    overflow: visible !important;
}

/* Border */
.no-border-radius {
    -ms-border-radius: 0 !important;
    border-radius: 0 !important;
}

.shadow-none {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.white-space-initial {
    white-space: initial !important;
}