
@{
    ViewBag.Title = T("Error");
    Layout = Html.GetCurrentThemeLayoutAddress(true);
}

<div class="log-reg-bg d-flex align-items-center">
    <div class="container">
        @{
            Html.RenderPartial("Partials/_Error");
        }
    </div>
</div>