
@{
    ViewBag.Title = T("PageNotFound");
    Layout = Html.GetCurrentThemeLayoutAddress(true);
}

<div class="log-reg-bg d-flex align-items-center">
    <div class="container">
        @{
                Html.RenderPartial("Partials/_PageNotFound");
        }
    </div>
</div>