
@model string
@{Layout = null;}
@if (!string.IsNullOrWhiteSpace(Model))
{
    <div class="item-info-pro-box">
        <div class="head-sidebar-single">
            <h3 class="title-sideber-single">@T("Keywords")</h3>
        </div>
        <div class="content-sidebar-single d-flex justify-content-center flex-wrap">
            <ul class="list-pro-sidebar-keywords">
                @foreach (var keyword in Model.Split(new[] { "," }, StringSplitOptions.RemoveEmptyEntries).Select(p => p.Trim()).Where(p => !string.IsNullOrWhiteSpace(p)))
                {
                    <li><span>@keyword</span></li>
                }
            </ul>
        </div>
    </div>
}