@using System.Net.Http
@using Devesprit.DigiCommerce
@using Devesprit.DigiCommerce.Models
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.Utilities
@using Devesprit.Utilities.Extensions
@using X.PagedList.Mvc
@model Devesprit.DigiCommerce.Models.Products.ProductsListModel

@{
    Layout = null;

    if (Model.ShowPager)
    {
        if (!Model.PostsList.IsFirstPage)
        {
            Html.AddHeadCustomParts("<meta name=\"prev\" content=\"" + GeneratePageUrl(Model.PageIndex - 1).GetAbsoluteUrl() + "\">");
        }
        if (!Model.PostsList.IsLastPage)
        {
            Html.AddHeadCustomParts("<meta name=\"next\" content=\"" + GeneratePageUrl(Model.PageIndex + 1).GetAbsoluteUrl() + "\">");
        }
    }
}
@if (Model.PostsList.Any())
{
    foreach (var post in Model.PostsList)
    {
        @Html.Raw(Model.ItemWrapperStart)
        switch (Model.ViewStyle)
        {
            case ViewStyles.Large:
                Html.RenderPartial("Partials/_ProductLargeCardView", post);
                break;
            case ViewStyles.Normal:
                Html.RenderPartial("Partials/_ProductNormalCardView", post);
                break;
            case ViewStyles.Small:
                Html.RenderPartial("Partials/_ProductSmallCardView", post);
                break;
        }
        @Html.Raw(Model.ItemWrapperEnd)
    }
    if (Model.ShowPager)
    {
        <div class="col-12 t-mar-30">
            @Html.PagedListPager(Model.PostsList, GeneratePageUrl, new TwitterBootstrap4Pager())
        </div>
    }
}
else
{
    <div class="col-12">
        <h5 class="text-center text-muted mar-v-150">
            <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
            <br />
            <br />
            @T("NoItemsToShow")
        </h5>
    </div>
}

@functions {
    private string GeneratePageUrl(int arg)
    {
        var httpContext = HttpContext.Current.GetOwinContext().Get<System.Web.HttpContextWrapper>("System.Web.HttpContextBase");
        var route = ViewContext.ParentActionViewContext.RouteData.Route.GetRouteData(httpContext);
        if (route.Values.Keys.Contains("page"))
        {
            var routeData = ViewContext.ParentActionViewContext.RouteData.Values;
            routeData["page"] = arg;
            var queryStrings = Request.Url.Query;
            return Url.RouteUrl(routeData).BuildQueryStringUrl(new []{queryStrings}).RemoveEmptyParametersFromQueryString();
        }
        return Request.Url.ToString().BuildQueryStringUrl(new[] { "page=" + arg }).RemoveEmptyParametersFromQueryString();
    }
}