
@model List<Tuple<int, string>>
@{Layout = null;}
@if (Model.Any())
{
    <div class="item-info-pro-box">
        <div class="head-sidebar-single">
            <h3 class="title-sideber-single">@T("Tags")</h3>
        </div>
        <div class="content-sidebar-single d-flex justify-content-center flex-wrap">
            <ul class="list-pro-sidebar-tags">
                @foreach (var tag in Model)
                {
                    <li><a href="@Url.Action("Tag", "Search", new {tag=tag.Item2, page = 1})" target="_blank">@tag.Item2</a></li>
                }
            </ul>
        </div>
    </div>
}
