@using System.Web.Mvc.Html
@using Devesprit.DigiCommerce.Models.Post
@using Devesprit.Utilities
@using X.PagedList.Mvc
@model Devesprit.DigiCommerce.Models.Post.PostsListModel
@{
    Layout = null;
}
@if (Model.PostsList.Any())
{
    <div class="row">

        @foreach (var post in Model.PostsList)
        {
            @Html.Raw(Model.ItemWrapperStart)
            Html.RenderAction("PostCardViewPartialView", "Post", new { model = post, style = Model.ViewStyle });
            @Html.Raw(Model.ItemWrapperEnd)
        }
    </div>
    if (Model.ShowPager)
    {
        <div class="row">
            <div class="col-12 t-mar-30">
                @Html.PagedListPager(Model.PostsList, page => Request.Url.ToString().BuildQueryStringUrl(new[] { "Page=" + page }).RemoveEmptyParametersFromQueryString(), new TwitterBootstrap4Pager())
            </div>
        </div>
    }
}
else
{
    <h5 class="text-center text-muted mar-v-150">
        <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
        <br />
        <br />
        @T("NoItemsToShow")
    </h5>
}