<div class="col-12">
<button type="submit" name="provider" value="Twitter" class="btn btn-sm btn-block b-mar-5">
    <img src="~/Plugins/Plugin.ExternalLogin/Content/twitter.png" height="24" alt="Login with Twitter" /> 
    @Html.Raw(T("Plugin.ExternalLogin.Twitter"))
</button>
</div>
