@{ Layout = null;}
<div class="col-12">
    <button type="submit" name="provider" value="Facebook" class="btn btn-sm btn-block b-mar-5">
        <img src="~/Plugins/Plugin.ExternalLogin/Content/facebook.png" height="24" alt="Login with Facebook" />
        @Html.Raw(T("Plugin.ExternalLogin.Facebook"))
    </button>
</div>
