@{ Layout = null;}
<div class="col-12">
    <button type="submit" name="provider" value="Google" class="btn btn-sm btn-block b-mar-5">
        <img src="~/Plugins/Plugin.ExternalLogin/Content/google.png" height="24" alt="Login with Google" />
        @Html.Raw(T("Plugin.ExternalLogin.Google"))
    </button>
</div>
