
@{
    ViewBag.Title = T("Error");
    Layout = "~/Themes/WarezComponent/Views/Shared/_BaseLayout.cshtml";
}

<div class="log-reg-bg d-flex align-items-center">
    <div class="container">
        @{
            Html.RenderPartial("Partials/_Error");
        }
    </div>
</div>