<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdvancedStringBuilder" version="0.1.0" targetFramework="net471" />
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net471" />
  <package id="Antlr" version="3.5.0.2" targetFramework="net46" />
  <package id="Autofac" version="4.9.3" targetFramework="net471" />
  <package id="Autofac.Mvc5" version="4.0.2" targetFramework="net451" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net471" />
  <package id="BrotliSharpLib" version="0.3.3" targetFramework="net471" />
  <package id="BundleTransformer.Core" version="1.10.0" targetFramework="net471" />
  <package id="BundleTransformer.Yui" version="1.10.0" targetFramework="net471" />
  <package id="CronExpressionDescriptor" version="2.11.0" targetFramework="net471" />
  <package id="Dapper" version="1.60.6" targetFramework="net471" />
  <package id="EcmaScript.NET" version="2.0.0" targetFramework="net471" />
  <package id="elmah" version="1.2.2" targetFramework="net46" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net46" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net471" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net471" />
  <package id="Glimpse" version="1.8.6" targetFramework="net471" />
  <package id="Glimpse.Ado" version="1.7.3" targetFramework="net471" />
  <package id="Glimpse.AspNet" version="1.9.2" targetFramework="net471" />
  <package id="Glimpse.AspNetCache" version="0.9.9.35094" targetFramework="net471" />
  <package id="Glimpse.Autofac" version="0.2.4" targetFramework="net471" />
  <package id="Glimpse.EF6" version="1.6.5" targetFramework="net471" />
  <package id="Glimpse.Elmah" version="1.1.1" targetFramework="net471" />
  <package id="Glimpse.Mvc5" version="1.5.3" targetFramework="net471" />
  <package id="Glimpse.Performance" version="1.0.0.3" targetFramework="net471" />
  <package id="Glimpse.Plugins.Bundling" version="1.1.1.42691" targetFramework="net471" />
  <package id="Google.Protobuf" version="3.9.1" targetFramework="net471" />
  <package id="Hangfire" version="1.7.6" targetFramework="net471" />
  <package id="Hangfire.AspNet" version="0.2.0" targetFramework="net471" />
  <package id="Hangfire.Autofac" version="2.3.1" targetFramework="net46" />
  <package id="Hangfire.Core" version="1.7.6" targetFramework="net471" />
  <package id="Hangfire.Dashboard.RecurringJobExtensions" version="1.0.1" targetFramework="net471" />
  <package id="Hangfire.MySqlStorage" version="2.0.0" targetFramework="net471" />
  <package id="Hangfire.SqlServer" version="1.7.6" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="2019.1.3" targetFramework="net471" />
  <package id="jQuery" version="3.4.1" targetFramework="net471" />
  <package id="jQuery.Validation" version="1.17.0" targetFramework="net46" />
  <package id="Mapster" version="4.1.0" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Identity.Owin" version="2.2.2" targetFramework="net46" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.Web.Optimization" version="1.1.3" targetFramework="net46" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.7" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.7" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net46" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net46" />
  <package id="Microsoft.jQuery.Unobtrusive.Ajax" version="3.2.6" targetFramework="net46" />
  <package id="Microsoft.jQuery.Unobtrusive.Validation" version="3.2.11" targetFramework="net46" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.2" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Cookies" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Facebook" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Google" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security.Twitter" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net451" />
  <package id="Microsoft.Win32.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="Moment.js" version="2.24.0" targetFramework="net471" />
  <package id="MySql.Data" version="8.0.17" targetFramework="net471" />
  <package id="MySql.Data.EntityFramework" version="8.0.11" targetFramework="net471" />
  <package id="MySqlConnector" version="0.56.0" targetFramework="net471" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net46" />
  <package id="popper.js" version="1.14.3" targetFramework="net46" />
  <package id="PostSharp" version="6.2.11" targetFramework="net471" />
  <package id="PostSharp.Redist" version="6.2.11" targetFramework="net471" />
  <package id="reCaptcha.AspNet.Mvc" version="1.2.3.0" targetFramework="net46" />
  <package id="Schema.NET" version="4.3.0" targetFramework="net471" />
  <package id="Select2.js" version="4.0.7" targetFramework="net471" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net471" />
  <package id="Syncfusion.AspNet.Mvc5" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.Compression.AspNet.Mvc5" version="16.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.Compression.Base" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.DocIO.AspNet.Mvc5" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.JavaScript" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.Licensing" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.OfficeChart.AspNet.Mvc5" version="16.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.OfficeChart.Base" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.Pdf.AspNet.Mvc5" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.Presentation.AspNet.Mvc5" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.Web.Base45" version="17.2.0.40" targetFramework="net471" />
  <package id="Syncfusion.Web.FileFormatsBase45" version="16.3.0.29" targetFramework="net46" />
  <package id="Syncfusion.XlsIO.AspNet.Mvc5" version="17.2.0.40" targetFramework="net471" />
  <package id="System.AppContext" version="4.3.0" targetFramework="net46" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections" version="4.3.0" targetFramework="net46" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net46" />
  <package id="System.ComponentModel" version="4.3.0" targetFramework="net46" />
  <package id="System.Console" version="4.3.1" targetFramework="net46" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net471" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net471" />
  <package id="System.Data.SQLite.Linq" version="1.0.111.0" targetFramework="net471" />
  <package id="System.Diagnostics.Debug" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net46" />
  <package id="System.Diagnostics.Tools" version="4.3.0" targetFramework="net46" />
  <package id="System.Diagnostics.Tracing" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization" version="4.3.0" targetFramework="net46" />
  <package id="System.Globalization.Calendars" version="4.3.0" targetFramework="net46" />
  <package id="System.IO" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net46" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Linq" version="4.3.0" targetFramework="net46" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net46" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net46" />
  <package id="System.Net.Primitives" version="4.3.1" targetFramework="net471" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net46" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.ObjectModel" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Resources.ResourceManager" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net471" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net46" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net46" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net46" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net46" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.Encoding.Extensions" version="4.3.0" targetFramework="net46" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net471" />
  <package id="System.Threading" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks" version="4.3.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net471" />
  <package id="System.Threading.Thread" version="4.3.0" targetFramework="net471" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net46" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net46" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net46" />
  <package id="System.Xml.XPath" version="4.3.0" targetFramework="net471" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net46" />
  <package id="WebGrease" version="1.6.0" targetFramework="net46" />
  <package id="WebMarkupMin.AspNet.Brotli" version="2.6.0" targetFramework="net471" />
  <package id="WebMarkupMin.AspNet.Common" version="2.6.0" targetFramework="net471" />
  <package id="WebMarkupMin.AspNet4.Common" version="2.6.0" targetFramework="net471" />
  <package id="WebMarkupMin.AspNet4.HttpModules" version="2.6.0" targetFramework="net471" />
  <package id="WebMarkupMin.Core" version="2.6.0" targetFramework="net471" />
  <package id="WebMarkupMin.Yui" version="2.6.0" targetFramework="net471" />
  <package id="X.PagedList" version="7.6.0" targetFramework="net46" />
  <package id="X.PagedList.Mvc" version="7.6.0" targetFramework="net46" />
  <package id="YUICompressor.NET" version="3.0.0" targetFramework="net471" />
  <package id="Z.ExtensionMethods" version="2.1.1" targetFramework="net471" />
</packages>